<li>

	{{#if devoured}}
	{{id}}. {{burger_name}}
	{{else}}
	{{id}}. {{burger_name}}
	<button class="devour-button" data-id="{{id}}" data-newDevour="{{devoured}}">
		Devour it!
	</button>
	{{/if}}

</li>